/* FONTS */
@font-face {
    font-family: "f-light";
    src: url(./assets/Figtree-Light.ttf)
}

@font-face {
    font-family: "f-medium";
    src: url(./assets/Figtree-Medium.ttf)
}

@font-face {
    font-family: "f-regular";
    src: url(./assets/Figtree-Regular.ttf)
}

@font-face {
    font-family: "f-semi";
    src: url(./assets/Figtree-SemiBold.ttf)
}

@font-face {
    font-family: "licorice";
    src: url(./assets/Licorice-Regular.ttf)
}

/* GENERAL */

body {
    margin: 0%;
    background-color: #F0F0F0;
    font-family: "f-light";
    color: #332421;
}

h1 {
    font-size: 6rem;
    margin: 3rem;
    font-weight: normal;
    font-family: "f-light";
    text-transform: uppercase;
    color: #332421;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: normal;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
}

li {
    list-style: none;
}

/* HEADER */

header {
    height: 100vh;
}

/* NAV BAR */
.nav-bar {
    width: 100%;
    height: 11vh;
    z-index: 3;
    position: fixed;
    background-color: #F0F0F0;
    border-bottom: 1px solid #332421;
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-control {
    width: 80vw;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-inicio{
    width: 5rem;
}

/* nav-bar-responsive creado para luego hacer la caja 
del menu en responsive */
.nav-bar-responsive {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.header-item {
    padding: 0rem 1.5rem;
}

ul a {
    text-decoration: none;
    color: #332421;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition-duration: 0.3s;
    position: relative;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    height: 1px;
    width: 0;
    background: #332421;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition-duration: 0.3s;
    pointer-events: none;
}

.nav-item:hover::after,
.nav-item:focus::after {
    width: 100%;
}

.button-menu {
    display: none;
}

/* RESTO DEL HEADER */
.background-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECE7E1;
    background: linear-gradient(90deg, #ECE7E1 50%, #F0F0F0 50%);

}

.last-name {
    font-size: 3.4rem;
}

.home-description {
    font-size: 2.5rem;
    font-family: "licorice";
}

.home-text {
    width: 25%;
    font-size: 1.3rem;
    position: absolute;
    top: 75%;
    left: 10%;
    font-family: "f-light";
    text-transform: uppercase;
}

.plant-header {
    width: 25%;
    height: 100%;
    background-image: url(./assets/img/planta-index.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 1px;
    top: -15%;
    z-index: 1;
    opacity: 0.2;
}

/* MAIN */

/* TRATAMIENTOS */

.treatments {
    padding: 11vh 0vh;
    background-color: #E9B9A6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transition-container {
    width: 305px;
    height: 131px;
    position: absolute;
    top: -79px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orange-circle {
    width: 174px;
    height: 131px;
    background-color: #E9B9A6;
    border-radius: 100%;
    position: relative;
}

.orange-rectangle {
    width: 305px;
    height: 131px;
    background-color: #E9B9A6;
    position: absolute;
    top: 40px;
}

.medical-icon {
    z-index: 1;
    height: 9vh;
    position: absolute;
    top: 6px;
}

.treatments-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.treatments-content {
    width: 70%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.card {
    padding: 2rem;
    margin: 2rem;
    width: 30%;
    display: flex;
    border: 1px solid #332421;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.treatments-icon {
    height: 13vh;
}

.treatments-description {
    width: 80%;
    text-align: center;
    padding-bottom: 1rem;
}

.treatments-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    font-family: "f-light";
    text-transform: uppercase;
    border: none;
    background-color: #332421;
    color: #F0F0F0;
    border: 1px solid transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.treatments-button:hover,
.insta-button:hover {
    cursor: pointer;
    background-color: #E9B9A6;
    color: #332421;
    border: 1px solid #332421;
}


/* MARQUEE */

.marquee-container {
    position: relative;
    height: 35px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #B9CEDC;
    color: #332421;
    display: flex;
    align-items: center;
}

.track {
    position: absolute;
    display: flex;
    white-space: nowrap;
    will-change: transform;
    animation: scrolling 30s linear infinite;
}

.marquee-content{
    margin: 0rem;
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(-30%); }
}

/* SOBRE MI */

.aboutMe {
    padding: 11vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, #ECE7E1 50%, #F0F0F0 50%);
    position: relative;
}

.aboutMe-container {
    width: 70%;
    height: 72%;
    margin-bottom: 2rem;
    padding: 2rem 0rem 3rem 0rem;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.description-container {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.aboutMe-description {
    margin: 0.5rem;
    text-align: end;
}

p span {
    font-family: "f-semi";
}

.dra-photo {
    width: 30%;
    object-fit: cover;
}

.port-icon{
    height: 10vh;
    position: absolute;
    bottom: -35px;
}

.portafolio-container {
    display: flex;
    justify-content: center;
}

.plant-aboutMe {
    width: 100%;
    height: 73%;
    transform: rotate(270deg);
    background-image: url(./assets/img/planta-c.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -106%;
    top: 43%;
    z-index: 1;
    opacity: 0.2;
}

/* CONTACTO */

.contact {
    padding: 15vh 0vh 11vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-line {
    width: 70%;
    padding: 2rem 0rem;
    border: #332421 solid 1px;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact-title {
    padding: 0rem 1rem;
    position: absolute;
    top: -37px;
    background-color: #f0f0f0;
}

.contact-container {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-social a, 
.footer-social a {
    text-decoration: none;
}

.contact-description {
    text-align: center;
    width: 70%;
    padding-bottom: 0.5rem;
}

.contact-social {
    padding-bottom: 2rem;
}

.contact-map {
    height: 52%;
    width: 85%;
}

.contact-finale {
    padding: 0rem 1rem;
    font-size: 2rem;
    position: absolute;
    bottom: -53px;
    font-family: "licorice";
    background-color: #f0f0f0;
}

/* INSTA SECTION */

.insta-container {
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9B9A6;
}

.insta-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-text {
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}

.insta-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    position: relative;
    z-index: 2;
    font-family: "f-light";
    text-transform: uppercase;
    background-color: #332421;
    color: #F0F0F0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: .3s;
    border: 1px solid transparent;
}

.position-button {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instaButton-background {
    height: 12vh;
    position: absolute;
    object-position: 0px;
}

/* FAQ */

.frequently-container {
    padding: 15vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #F0F0F0 49.5%, #ECE7E1 49.5%);
}

.frequently-container h2 {
    margin-bottom: 3rem;
}

.frequently-content {
    width: 70%;
    background-color: #F0F0F0;
}

details {
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #332421;
    transition-duration: 0.3s;
}

summary {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .plus-icon {
    transform: rotate(45deg);
}

details[open] {
    background-color: #ECE7E1;
}

details[open] summary {
    border-bottom: 1px solid #332421;
}

details:hover {
    background-color: #ECE7E1;
    cursor: pointer;
}

.plus-icon {
    height: 3vh;
    padding: 1rem;
    transition-duration: 0.3s;
}

details a {
    text-decoration: none;
    color: #332421;
    font-family: "f-semi";
}

details p {
    padding: 2rem;
}

/* FOOTER */

footer {
    padding: 4rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #332421;
}

.icon-sizing {
    font-size: 1.6em;
    padding: 0.5rem;
    color: #332421;
}

.logo-footer {
    width: 7rem;
}

.footer-content {
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-list {
    margin: 0rem;
    padding: 0rem;
}

.footer-item {
    padding-bottom: 1rem;
}

.license {
    font-size: 0.9rem;
}

.footer-social a {
    text-decoration: none;
}

.license-container {
    width: 70%;
    text-align: center;
}

/* MEDIAS */

/* DESKTOP */

@media (min-width: 1024px) {

}

/* TABLET AND PHONE */

@media (max-width: 1388px) {

    .aboutMe-container {
        flex-direction: column;
    }

    .description-container,
    .dra-photo {
        width: 85%;
    }

    .aboutMe-description {
        text-align: center;
    }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {

    .home-text {
        width: 30%;
        top: 72%;
    }

    .carrousel {
        width: 70%;
    }

    .contact-line {
        padding: 1rem 0rem;
    }

    .insta-container {
        padding-top: 1rem;
    }

}

/* TABLET AND PHONE */

@media (max-width: 1023px) {

    /* MENU HAMBURGUESA */

    /* con el menu sin desplegar */
    .nav-list {
        display: none;
        transition: ease .4s;
    }

    .button-menu {
        height: 35px;
        width: 40px;
        position: absolute;
        right: 3rem;
        top: 2rem;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
    }

    .first-line,
    .second-line,
    .third-line {
        height: 2px;
        width: 100%;
        display: block;
        background-color: #332421;
        transition: .3s ease;
    }

    /* con el menu desplegado */
    .active-nav-bar-responsive {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 3rem;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        background-color: #e9b9a6;
        box-shadow: 0 0 0 100vmax rgb(0 0 0 / 29%);
        color: #332421;
        transition: ease .4s;
    }
    
    .active-first-line {
        transform: translateY(8.5px);
    }
    
    .active-third-line {
        transform: translateY(-9px);
    }
    
    .active-nav-list {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .active-header-item {
        padding: 1rem 0rem;
    }

    /* MAIN */

    body {
        font-size: 0.9rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }    

    .plus-icon {
        height: 2vh;
    }

    .port-icon {
        height: 10vh;
    }

}

@media (max-width: 928px) {
    
    .treatments-content {
        width: 78%;
    }

    .card {
        padding: 2rem 0rem;
        margin: 2rem 0rem;
        width: 100%;
        display: flex;
        border: 1px solid #332421; 
        justify-content: flex-start;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }
}

/* PHONE */

@media (max-width: 767px) {
    
    .home-text {
        width: 80%;
        top: 75%;
        text-align: center;
    }

    .carrousel {
        width: 85%;
    }

    .treatments-description {
        width: 70%;
    }

    .contact-line {
        padding: 2rem 0rem;
    }

    .insta-container {
        padding: 1rem 0rem 2rem 0rem;
    }

    .footer-content {
        padding: 2rem 0rem;
        flex-direction: column;
    }

    .footer-nav {
        padding-bottom: 2rem;
    }

    .footer-social {
        align-self: center;
    }

}

/* MEDIAS ESPECIFICAS */

@media (min-width: 620px) and (max-width: 1590px) {
    .plant-header {
        width: 25%;
        top: 7%;
    }
}

@media (min-width: 490px) and (max-width: 619px) {
    .plant-header {
        width: 30%;
        top: 7%;
    }
}

@media (min-width: 410px) and (max-width: 489px) {
    .plant-header {
        top: -4%;
        width: 47%;
    }
}

@media (max-width: 409px) {
    .plant-header {
        top: 1%;
        width: 47%;
    }
}

@media (min-width: 1000px) and (max-width: 1179px) {
    .plant-aboutMe {
        height: 88%;
        left: -66%;
        top: -8%;
    }
}

@media (min-width: 942px) and (max-width: 999px) {
    .plant-aboutMe {
        height: 73%;
        left: -66%;
        top: 3%;
    }
}

@media (max-width: 941px) {
    .plant-aboutMe {
        display: none;
    }
}